.album
  .album_top
    .album_top_title
      = @group.name
      の１歳〜のアルバム
      .album_editbtn
        %button.album_edit.btn 編集
        
  .album_contents
    .album_main
      .album_main_content
        .album_main_content_img
        - if @group.follow?
          %img.album_photo{:src => @group.follow}/
        - else
          .none_photo
            %img.album_none{:src => '/errer/akatyan02.png'}/
      .album_main_content
        .album_main_content_img
        - if @group.pause?
          %img.album_photo{:src => @group.pause}/
        - else
          .none_photo
            %img.album_none{:src => '/errer/akatyan02.png'}/
    .album_main
      .album_main_title
        パパとママの後をついてくよ
        .album_updatebtn.hide
          = form_for(@group, local: true) do |f|
            = f.label :album_img, class: "album_update" do
              = f.text_field :follow, placeholder: "Image Url"
              = f.submit '送信', class: 'album_update, btn'
      .album_main_title
        つかまり立ちでポーズ
        .album_updatebtn.hide
          = form_for(@group, local: true) do |f|
            = f.label :album_img, class: "album_update" do
              = f.text_field :pause, placeholder: "Image Url"
              = f.submit '送信', class: 'album_update, btn'

    .album_main
      .album_main_content
        .album_main_content_img
        - if @group.walk?
          %img.album_photo{:src => @group.walk}/
        - else
          .none_photo
            %img.album_none{:src => '/errer/akatyan02.png'}/
      .album_main_content
        .album_main_content_img
        - if @group.yam?
          %img.album_photo{:src => @group.yam}/
        - else
          .none_photo
            %img.album_none{:src => '/errer/akatyan02.png'}/
    .album_main
      .album_main_title
        つたい歩きができました
        .album_updatebtn.hide
          = form_for(@group, local: true) do |f|
            = f.label :album_img, class: "album_update" do
              = f.text_field :walk, placeholder: "Image Url"
              = f.submit '送信', class: 'album_update, btn'
      .album_main_title
        手づかみ食べでおいし〜い
        .album_updatebtn.hide
          = form_for(@group, local: true) do |f|
            = f.label :album_img, class: "album_update" do
              = f.text_field :yam, placeholder: "Image Url"
              = f.submit '送信', class: 'album_update, btn'

    .album_main
      .album_main_content
        .album_main_content_img
        - if @group.sleepingface4?
          %img.album_photo{:src => @group.sleepingface4}/
        - else
          .none_photo
            %img.album_none{:src => '/errer/akatyan02.png'}/
      .album_main_content
        .album_main_content_img
        - if @group.saycheese4?
          %img.album_photo{:src => @group.saycheese4}/
        - else
          .none_photo
            %img.album_none{:src => '/errer/akatyan02.png'}/
    .album_main
      .album_main_title
        可愛い寝顔
        .album_updatebtn.hide
          = form_for(@group, local: true) do |f|
            = f.label :album_img, class: "album_update" do
              = f.text_field :sleepingface4, placeholder: "Image Url"
              = f.submit '送信', class: 'album_update, btn'
      .album_main_title
        こっちむーいて
        .album_updatebtn.hide
          = form_for(@group, local: true) do |f|
            = f.label :album_img, class: "album_update" do
              = f.text_field :saycheese4, placeholder: "Image Url"
              = f.submit '送信', class: 'album_update, btn'

    .album_main
      .album_main_content
        .album_main_content_img
        - if @group.imitate2?
          %img.album_photo{:src => @group.imitate2}/
        - else
          .none_photo
            %img.album_none{:src => '/errer/akatyan02.png'}/
      .album_main_content
        .album_main_content_img
        - if @group.katikati?
          %img.album_photo{:src => @group.katikati}/
        - else
          .none_photo
            %img.album_none{:src => '/errer/akatyan02.png'}/
    .album_main
      .album_main_title
        まねっこまねっこ
        .album_updatebtn.hide
          = form_for(@group, local: true) do |f|
            = f.label :album_img, class: "album_update" do
              = f.text_field :imitate2, placeholder: "Image Url"
              = f.submit '送信', class: 'album_update, btn'
      .album_main_title
        両手に持ってカチカチ
        .album_updatebtn.hide
          = form_for(@group, local: true) do |f|
            = f.label :album_img, class: "album_update" do
              = f.text_field :katikati, placeholder: "Image Url"
              = f.submit '送信', class: 'album_update, btn'

