.container.ops-main
  .row
    .col-md-12
      %h3.ops-title 赤ちゃんたち
  .row
    .col-md-11.col-md-offset-1.baby_groups
      %table.table.text-center
        %tr
          %th.text-center おなまえ
          %th.text-center お誕生日
          %th.text-center 写真
          - current_user.groups.each do |group|
            .baby_group
            %tr
              %td
                =link_to group_messages_path(group) do
                  = group.name
              %td
                = group.birthday
              %td
                - if @group.image?
                  = image_tag @group.image
                - else
  .row
    = link_to new_group_path, class: "new_btn" do
      %button.btn.btn-default 赤ちゃんが生まれたよ

.side
  .side_top
    .side_top_name
      = current_user.name
    .side_top_icon
      =link_to edit_user_path(current_user), class: "edit_btn" do
        = fa_icon 'cog'


